body {
  overflow: hidden;
  position: relative;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translatex(-50%);
  width: 100%;
  font-size: 1.5rem;
  font-family: "Roboto";
  float: right;
}

.circle {
  float: left;
  margin: 2rem;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Roboto Condensed";
}

.btn {
  color: white;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #333;
  padding: .5em;
}

a {
  text-decoration: none;
  color: white;
}

.btn-big {
  font-size: 1.5rem;
}

body {
  font-family: "Roberto";
  margin: 0;
}

.btn:hover {
  background-color: #ccc;
}

.banner {
  max-height: 500px;
}
